name: spread
on:
    push:
        branches: ["main"]
    pull_request:
jobs:
    integration-tests:
      runs-on: ubuntu-latest
      strategy:
        fail-fast: false
        matrix:
          garden-system:
            - ubuntu-cloud-22.04
            - ubuntu-cloud-24.04
            - debian-cloud-12
            - fedora-cloud-42
          ARCH:
            - x86_64
      steps:
        - name: Checkout code
          uses: actions/checkout@v5
          # This is essential for git restore-mtime to work correctly.
          with:
            fetch-depth: 0
        - name: Run integration tests
          uses: zyga/image-garden-action@v0
          env:
            ARCH: ${{ matrix.ARCH }}
          with:
            snapd-channel: latest/edge
            image-garden-channel: latest/edge
            garden-system: ${{ matrix.garden-system }}
