# SPDX-FileCopyrightText: 2025 Lincoln Wallace
# SPDX-License-Identifier: Apache-2.0

name: spread
on:
    push:
        branches: ["main"]
    pull_request:
jobs:
    integration-tests:
      strategy:
        fail-fast: false
        matrix:
          garden-system:
            - ubuntu-cloud-22.04
            - ubuntu-cloud-24.04
            - ubuntu-cloud-25.04
            - ubuntu-cloud-25.10
            - ubuntu-core-20
            - ubuntu-core-22
            - ubuntu-core-24
            - debian-cloud-12
            - fedora-cloud-42
          arch:
            - x86_64
            - aarch64
            - riscv64
          exclude:
            - garden-system: ubuntu-cloud-22.04
              arch: riscv64
            - garden-system: ubuntu-core-20
              arch: riscv64
            - garden-system: ubuntu-core-22
              arch: riscv64
            - garden-system: ubuntu-core-24
              arch: riscv64
            - garden-system: ubuntu-core-20
              arch: aarch64
            - garden-system: debian-cloud-12
              arch: riscv64
      runs-on: ubuntu-latest
      steps:
        - name: Checkout code
          uses: actions/checkout@v5
          # This is essential for git restore-mtime to work correctly.
          with:
            fetch-depth: 0
        - name: Run integration tests
          uses: zyga/image-garden-action@v0
          env:
            ARCH: ${{ matrix.arch }}
          with:
            snapd-channel: latest/edge
            image-garden-channel: latest/edge
            garden-system: ${{ matrix.garden-system }}
