name: spread
on:
    push:
        branches: ["main"]
    pull_request:
jobs:
    integration-tests:
      strategy:
        fail-fast: false
        matrix:
          garden-system:
            - ubuntu-cloud-22.04
            - ubuntu-cloud-24.04
            - ubuntu-cloud-25.04
            - ubuntu-cloud-25.10
            - ubuntu-core-20
            - ubuntu-core-22
            - ubuntu-core-24
            - archlinux-cloud
            - debian-cloud-12
            - fedora-cloud-42
          arch:
            - ubuntu-latest # x86_64 machine
            - ubuntu-24.04-arm # aarch64 machine
      runs-on: ${{ matrix.arch }}
      steps:
        - name: Checkout code
          uses: actions/checkout@v5
          # This is essential for git restore-mtime to work correctly.
          with:
            fetch-depth: 0
        - name: Run integration tests
          uses: zyga/image-garden-action@v0
          with:
            snapd-channel: latest/edge
            image-garden-channel: latest/edge
            garden-system: ${{ matrix.garden-system }}
