name: Build and Test

on:
  push:
    branches: [ main ]
    paths-ignore:
      - '**/*.md'
  pull_request:
    branches: [ main ]
    paths-ignore:
      - '**/*.md'
  workflow_dispatch:

jobs:
  build:
    outputs:
      snap: ${{ steps.snapcraft.outputs.snap }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Build snap
        uses: snapcore/action-build@v1.3.0
        id: snapcraft

      - name: Upload artifact
        uses: actions/upload-artifact@v4.6.2
        with:
          name: ${{ steps.snapcraft.outputs.snap }}
          path: ${{ steps.snapcraft.outputs.snap }}
          if-no-files-found: error

  integration-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        garden-system:
          - debian-cloud-12
          - fedora-cloud-42
        ARCH:
          - amd64
          - riscv64
      steps:
        - name: Checkout code
          uses: actions/checkout@v5
          # This is essential for git restore-mtime to work correctly.
          with:
            fetch-depth: 0
        - name: Run integration tests
          uses: zyga/image-garden-action@v0
          env:
            ARCH: ${{ matrix.ARCH }}
          with:
            snapd-channel: latest/edge
            image-garden-channel: latest/edge
            garden-system: ${{ matrix.garden-system }}
